@import "tailwindcss";

@theme {
  --color-primary: #3b82f6; /* Blue 500 */
  --color-secondary: #1e40af; /* Blue 800 */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f172a; /* slate-900 */
  color: #f8fafc; /* slate-50 */
}
